<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nesttun Indremisjons Barnehage</title>
  <meta name="description" content="Nesttun Indremisjons Barnehage, en liten og trygg kristen barnehage i Nesttun Området i Bergen Kommune.">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/smoothbox.css">
  <link rel="stylesheet" href="css/style.css">
</head>
